<%= stylesheet_link_tag 'sidebar_toc', plugin: 'redmine_sidebar_toc' %>
<%= javascript_include_tag 'sidebar_toc', plugin: 'redmine_sidebar_toc' %>

<h3><%= l(:label_wiki) %></h3>

<%= link_to l(:field_start_page), {:action => 'show', :id => nil} %><br />
<%= link_to l(:label_index_by_title), {:action => 'index'} %><br />
<%= link_to l(:label_index_by_date), {:controller => 'wiki', :project_id => @project, :action => 'date_index'} %><br />

<% unless @content.nil?  %>
  <div class="toc_contents">
  <h3>Сontents</h3>
  <% nodes =  Nokogiri::HTML(textilizable(@content, :text)).xpath('//h1|//h2|//h3|//h4|//h5|//h6') %>
  <% hrefs = Nokogiri::HTML(textilizable(@content, :text)).xpath('//a[@name]/@name') %>
  <% index = 0 %>
  <% items = [] %>
  <% while nodes.length > index do %>
    <% node = nodes[index] %>
    <% href = hrefs[index] %>
    <% index += 1 %>
    <% h = node.name.delete("h").to_i %>
    <% next if h > 4 %>
    <% text = node.text.delete("¶") %>
    <% items.push({:h => h, :text => text, :href => href, :index => index}) %>
  <% end %>
  <% oh = 0 %>
  <% items.each_with_index do |item,i| %>
    <% ni = (i+1) == items.length ? (items.length-1): (i+1) %>
    <% nh = items[ni][:h] %>
    <% if false %>
      1. １個前のHnと現在のHnの差分でulを設定／解除を繰り返す
      2. 現在のHnに子供が存在する場合は、</li> を付加しない
      <%= "<!-- ++++ #{item}, #{nh} -->".html_safe %>
      <li class="sidebar_toc_item"><%= "<a href=\"##{item[:href]}\">[01: #{item[:index]} #{item[:h]}-#{nh}] #{item[:text]}</a>#{next_li}".html_safe %>
    <% end %>
    <% next_li = "</li>" %>
    <% if item[:h] < nh %>
      <% next_li = "" %>
    <% end %>
    <% if oh < item[:h] %>
      <% (item[:h] - oh).times do %>
        <ul>
      <% end %>
    <% elsif oh > item[:h] %>
      <% (oh - item[:h]).times do %>
        </ul>
      <% end %>
      </li>
    <% else %>
    <% end %>
    <li class="sidebar_toc_item"><%= "<a href=\"##{item[:href]}\">#{item[:text]}</a>#{next_li}".html_safe %>
    <% oh = item[:h] %>
  <% end %>
  <% (oh-1).times do %>
    </ul>
  <% end %>
  </li>
  </div>
<% end %>

<% if @wiki && @wiki.sidebar -%>
  <%= textilizable @wiki.sidebar.content, :text %>
<% end -%>

